<!doctype html>

<html>
<head>
	<title>GoTo</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="/css/goto.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>   
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/portfolio.pack.min.js"></script>
	<script src="/js/jquery.mobile.custom.min.js"></script>
	<script src="/js/goto.js"></script>   
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top">
			<a class="navbar-brand glyphicon glyphicon-search" aria-hidden="true" href="/search"></a>
			<a class="navbar-brand">GoTo</a>
		</nav>
	</div>

	<div class="container profile-container">
		<div class="media profile-top">
		    <div class="media-left">
		        <a href="#">
		            <img class="media-object" src="/images/{{profile-image}}">
		        </a>
		    </div>
		    <div class="media-body">
		        <h3 class="media-heading">{{profile-name}}
		    	    <a href="#" class="friendButton">Friends</a>
		        </h3>
		        <button type="button" class="btn btn-primary btn-xs btn-block">Edit Profile</button>
		    </div>
		</div>
		<div class="Bio">
		    <p><strong>Bio</strong></p>
		    <p>21 year old food enthusiast from San Diego. Let's go out to eat.</p>
		    <p><strong>Food Taste: </strong>
                <span class="label label-info tags">Mexican</span> 
                <span class="label label-info tags">Italian</span>
                <span class="label label-info tags">Steak</span>
                <span class="label label-info tags">Breweries</span>
            </p>
        </div>
	</div>

	<div class="container post-container newsfeed-container">
		<h4 class="center">Your Posts</h4>
		<hr>
		{{#each profile-posts}}
			<div class="panel post">
				<div class="media profile-top">	
					<div class="media-left">
					<a href="#">
					  <img class="media-object" src="/images/{{../profile-image}}">
					</a>
					</div>
					<div class="media-body">
					<h4 class="media-heading">{{../profile-name}}</h4>
					{{#if picture}}
						<img class="food-image" src="/images/{{food-image}}">
						<br>
					{{/if}}
					<a href="#"><i class="glyphicon glyphicon-heart social-button"></i></a>
					<a href="#"><i class="glyphicon glyphicon-comment social-button"></i></a>
					<a href="#"><i class="glyphicon glyphicon-share-alt social-button"></i></a>
					<br>
					<a href="/restaurant">{{restaurant}}</a>
					<br>
					{{restaurant-description}}
					</div>
				</div>
			</div>
		{{/each}}
	</div>

	  <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
	  <div class="row bottom-nav" id="bottomNav">
	    <div class="col-xs-4 text-center"><a href="/">
	    	<i class="glyphicon glyphicon-home"></i><br>Home</a>
	    </div>
	    <div class="col-xs-4 text-center"><a href="/newsfeed">
	    	<i class="glyphicon glyphicon-align-justify"></i><br>Newsfeed</a>
	    </div>
	    <div class="col-xs-4 text-center"><a href="/profile">
	    	<i class="glyphicon glyphicon-user"></i><br>Profile</a>
	    </div>
	  </div>
	  </div>
	</div>

</body>
</html>