<!doctype html>

<html>
<head>
	<title>GoTo</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="/css/goto.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>   
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/portfolio.pack.min.js"></script>
	<script src="/js/jquery.mobile.custom.min.js"></script>
	<script src="/js/goto.js"></script>   
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top">
			<a class="navbar-brand glyphicon glyphicon-search" aria-hidden="true" href="/search"></a>
			<a class="navbar-brand">GoTo</a>
		</nav>
	</div>

	<div class="container profile-container">
		<div class="media profile-top">
		    <div class="media-left">
		        <a href="#">
		            <img class="media-object" src="/images/{{image}}">
		        </a>
		    </div>
		    <div class="media-body">
		        <h2 class="media-heading">{{name}}
		        	<a href="#" class="friendButton">Friends</a>
		        </h2>
		        <button type="button" class="btn btn-primary-outline btn-xs btn-block">Edit Profile</button>
		    </div>
		    <p><strong>Bio</strong></p>
		    <p>21 year old food enthusiast from San Diego. Let's go out to eat.</p>
		    <p><strong>Food Taste: </strong>
                <span class="label label-info tags">Mexican</span> 
                <span class="label label-info tags">Italian</span>
                <span class="label label-info tags">Steak</span>
                <span class="label label-info tags">Breweries</span>
            </p>
		</div>
	</div>

	<div class="container post-container">
		<h4 class="center">Post history</h4>
		<hr>
		<div class="panel post">
			<div class="media profile-top">
			  <div class="media-left">
			    <a href="#">
			      <img class="media-object" src="/images/{{food-image}}">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">{{name}}</h4>
			    <a href="#"><i class="glyphicon glyphicon-heart"></i></a>
			    <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
			    <a href="#"><i class="glyphicon glyphicon-share-alt "></i></a>
			    <br>
			    <a href="/restaurant">{{restaurant1}}</a>
			    <br>
			    {{restaurant1-description}}
			  </div>
			  
			</div>
		</div>

		<div class="panel post">
			<div class="text-post">
				<h4>{{name}}</h4>
				<a href="#"><i class="glyphicon glyphicon-heart"></i></a>
				<a href="#"><i class="glyphicon glyphicon-comment"></i></a>
				<a href="#"><i class="glyphicon glyphicon-share-alt "></i></a>
				<br>
				<a href="/restaurant">{{restaurant2}}</a>
				<br>
				{{restaurant2-description}}
			</div>
		</div>
	<div>

	  <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
	  <div class="row bottom-nav" id="bottomNav">
	    <div class="col-xs-4 text-center"><a href="/">
	    	<i class="glyphicon glyphicon-home"></i><br>Home</a>
	    </div>
	    <div class="col-xs-4 text-center"><a href="/newsfeed">
	    	<i class="glyphicon glyphicon-align-justify"></i><br>Newsfeed</a>
	    </div>
	    <div class="col-xs-4 text-center"><a href="/profile">
	    	<i class="glyphicon glyphicon-user"></i><br>Profile</a>
	    </div>
	  </div>
	  </div>
	</div>

</body>
</html>