<!doctype html>

<html>
<head>
	<title>GoTo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="fb:app_id" content="1018516261547542" />
	<meta property="og:url" content="http://goto-app.herokuapp.com/restaurant/{{id}}" />
	<meta property="og:title" content="{{name}}" />
	<meta property="og:description" content="Check out {{name}} on GoTo!" />
	<meta property="og:site_name" content="GoTo" />
	<meta property="og:image" content="http://goto-app.herokuapp.com/images/{{picture}}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
	<link href="/css/goto.css" rel="stylesheet">

    <script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/portfolio.pack.min.js"></script>
	<script src="/js/jquery.mobile.custom.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script src="/js/goto.js"></script>
</head>

<body onload="checkLoginState()">
	<script>
    	// This is called with the results from from FB.getLoginStatus().
  		function statusChangeCallback(response) {
    		console.log('statusChangeCallback');
    		console.log(response);
    		// The response object is returned with a status field that lets the
    		// app know the current login status of the person.
    		// Full docs on the response object can be found in the documentation
    		// for FB.getLoginStatus().
    		if (response.status === 'connected') {
      		  // Logged into your app and Facebook.
      		  apiCall();
    		} else if (response.status === 'not_authorized') {
      		  // The person is logged into Facebook, but not your app.
      		  window.location.href= "/";
    		} else {
      		  // The person is not logged into Facebook, so we're not sure if
      		  // they are logged into this app or not.
      		  window.location.href= "/";
    		}
  		}

  		// This function is called when someone finishes with the Login
  		// Button.  See the onlogin handler attached to it in the sample
  		// code below.
  		function checkLoginState() {
    		FB.getLoginStatus(function(response) {
      			statusChangeCallback(response);
    		});
  		}

  		window.fbAsyncInit = function() {
  			FB.init({
    			appId      : '1018516261547542',
    			cookie     : true,  // enable cookies to allow the server to access
     	  	                 // the session
    			xfbml      : true,  // parse social plugins on this page
    			version    : 'v2.2' // use version 2.2
  			});

  			// Now that we've initialized the JavaScript SDK, we call
  			// FB.getLoginStatus().  This function gets the state of the
  			// person visiting this page and can return one of three states to
  			// the callback you provide.  They can be:
  			//
  			// 1. Logged into your app ('connected')
  			// 2. Logged into Facebook, but not your app ('not_authorized')
  			// 3. Not logged into Facebook and can't tell if they are logged into
  			//    your app or not.
  			//
  			// These three cases are handled in the callback function.

  			FB.getLoginStatus(function(response) {
    		statusChangeCallback(response);
  			});

  		};

  		// Load the SDK asynchronously
  		(function(d, s, id) {
    		var js, fjs = d.getElementsByTagName(s)[0];
    		if (d.getElementById(id)) return;
    		js = d.createElement(s); js.id = id;
    		js.src = "//connect.facebook.net/en_US/sdk.js";
    		fjs.parentNode.insertBefore(js, fjs);
  		}(document, 'script', 'facebook-jssdk'));

  		function shareRestaurant() {
  			FB.ui({
			  method: 'share',
			  href: 'http://goto-app.herokuapp.com/restaurant/{{id}}',
			}, function(response){});
  		}

  		function apiCall() {
				FB.getAuthResponse();
				FB.api('/me', 'GET',  {"fields":"name,picture{url}"},  function(response) {
					var pics = document.getElementsByClassName("profile-pic");
					var names = document.getElementsByClassName("profile-name");
					var i;
					for (i = 0; i < pics.length; i++) {
    				pics[i].src = response.picture.data.url;
						names[i].innerHTML = response.name;
					}
  			}
			);
  		}
	</script>

	<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top">
			<a class="navbar-brand glyphicon glyphicon-search" aria-hidden="true" href="/search"></a>
			<a href="/index" class="navbar-brand"><img src="/images/gotologo.png" id="logo"/></a>
		</nav>
	</div>

	<div class="container profile-container">
		<div class="media profile-top">
		    <div class="media-left">
		        <a href="#">
		            <img class="media-object restaurant-pic img-rounded" src="/images/{{picture}}">
		        </a>
		    </div>
		    <div class="media-body">
		        <h3 class="media-heading" id="restaurant-name">
								{{name}}
		        </h3>
						<a href="#" id="restaurant-handle">@{{id}}</a><br>
				<a href="/review/{{id}}"><i class="glyphicon glyphicon-plus social-button"></i> Add Review</a><br>
		        <a href="#" onclick="shareRestaurant()"><i class="glyphicon glyphicon-share social-button"></i> Share on FB</a><br>
		        {{#if favorite}}
		        	<a href="#" id="goto-list-button"><i class="glyphicon glyphicon-star social-button"></i>Remove from Your GoTo List</a>
		        {{else}}
		        	<a href="#" id="goto-list-button"><i class="glyphicon glyphicon-star-empty social-button"></i>Add to Your GoTo List</a>
		        {{/if}}
		    </div>
		</div>
		<div class="Details">
		    <h4><strong>Details</strong></h4>
		    <div>{{address}}<br>
					<a data-address="{{address}}" id="address" >Open in Google Maps!</a>
				</div><br>
		    <p><strong>Cuisine: </strong> <br>
            <a href="/cuisine/{{cuisineId}}" class="label label-info tags">{{cuisineId}}</a>
        </p>
    </div>
	</div>

	<div class="container menu-container portfolio-container">
			<h3>Menu Items</h3>
			<div id="menu-items" class="portfolio">
				{{#each menu-items}}
			    <img data-src="/images/{{item-image}}" data-url="/restaurant/{{../id}}/menu#{{item-id}}"class="restaurant-image" />
		        {{/each}}
		        <img data-src="/images/see-more.png" data-url="/restaurant/{{id}}/menu#0" class="restaurant-image"/>
			</div>
	</div>
	<div id="dummy"></div>

	<div class="container post-container restaurant-posts-container" id="rest_newsfeed">
		<h3>Restaurant Newsfeed</h3>
		<hr>
		{{#each posts}}
			{{#if profile-image}}
			<div class="panel post">
				<div class="media profile-top">
					<div class="media-left">
						<a href="#">
					  		<img class="media-object img-circle scaled-pic" src="/images/{{profile-image}}">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{name}}</h4>
			{{else}}
			<div class="panel post">
				<div class="media profile-top">
					<div class="media-left">
						<a href="#">
					  		<img class="media-object img-circle profile-pic" src="">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading profile-name">
							farts
						</h4>
						{{/if}}
						{{#if food-image}}
							<img class="food-image scaled-image" src="/images/{{food-image}}">
							<br>
						{{/if}}
						<a href="#"><i class="glyphicon glyphicon-heart social-button"></i></a>
						<a href="/comments/{{id}}"><i class="glyphicon glyphicon-comment social-button"></i></a>
						<br>
						<a href="/restaurant/{{restaurant}}">@{{restaurant}}</a>
						<br>
						{{restaurant-description}}
					</div>
				</div>
			</div>
		{{/each}}
	</div>

<div id="status">
</div>

	<div id="footer">
	  <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
	  <div class="row bottom-nav" id="bottomNav">
	    <div class="col-xs-4 text-center"><a href="/index">
	    	<i class="glyphicon glyphicon-home"></i><br>Home</a>
	    </div>
	    <div class="col-xs-4 text-center"><a href="/newsfeed">
	    	<i class="glyphicon glyphicon-align-justify"></i><br>Newsfeed</a>
	    </div>
	    <div class="col-xs-4 text-center"><a href="/profile">
	    	<i class="glyphicon glyphicon-user"></i><br>Profile</a>
	    </div>
	  </div>
	  </div>
	</div>
</body>

</html>
